<a href="https://colab.research.google.com/github/xivan128/DLS_my/blob/master/%5Bhomework%2Cprodv%5Dpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Физтех-Школа Прикладной математики и информатики (ФПМИ) МФТИ</b></h3>

<h2 style="text-align: center;"><b>Библиотека <a href="http://pandas.pydata.org/">pandas</a>: домашнее задание</b></h2>

Перед этим заданием необходимо просмотреть и прорешать соответствующий семинар. Он полезный, правда!

In [0]:
#!pip install pandas

In [0]:
import pandas as pd
import numpy as np

<img src="http://www.keepcalmstudio.com/_gallery/1500/kcs_dd487f3f.png" width=300 height=300>

### Даю DATA: https://www.kaggle.com/mehdidag/black-friday

In [0]:
data = pd.read_csv('BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [5]:
data

       User_ID Product_ID  ... Product_Category_3 Purchase
0      1000001  P00069042  ...                NaN   8370.0
1      1000001  P00248942  ...               14.0  15200.0
2      1000001  P00087842  ...                NaN   1422.0
3      1000001  P00085442  ...                NaN   1057.0
4      1000002  P00285442  ...                NaN   7969.0
...        ...        ...  ...                ...      ...
90349  1001899  P00287842  ...                NaN   7789.0
90350  1001899  P00177342  ...                NaN   8047.0
90351  1001899  P00117142  ...                NaN  13067.0
90352  1001899  P00156442  ...                NaN   6007.0
90353  1001899  P00089542  ...                NaN      NaN

[90354 rows x 12 columns]

In [0]:
data2 = data.groupby(['Gender','Age']).size().unstack(fill_value=0)

In [0]:
type(data)

pandas.core.frame.DataFrame

In [0]:
data2

Age     0-17  18-25   26-35  36-45  46-50  51-55    55+
Gender
F       4953  24057   49348  26420  12856   9634   4929
M       9754  73577  165342  81079  31670  27984  15974

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/mehdidag/black-friday/home)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [0]:
data3 = data.groupby(['Gender','City_Category']).size().unstack(fill_value=0)

In [0]:
#data3=pd.DataFrame(data2)
data3['A']['M']

109831

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [15]:
((data.Age == "46-50") & (data.Purchase > 20000)& (data.Gender == "F")).sum()

270

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [7]:
data=pd.DataFrame(data)
data["Product_Category_3"].isna().sum()

62855

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [0]:
Males=((data.Age=="26-35") & (data.Gender=="M")).sum()
Females= data['Age'].isin(['36-45', '46-50', '51-55', '55+']) & (data.Gender=="F")

In [10]:
q=Females.sum()+Males
q/537576

0.40772095480452997

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).